{{- /*
  insight-canvas 按需加载 partial — v1.1
  仅当页面使用了 {{< insight-canvas >}} shortcode 或内容中出现 "insight-canvas" 标识时才注入 CSS / JS
  pipeline-integrate 稍后会把此 partial 挂接到 head-end.html（不在本 agent 范围内）
*/ -}}
{{- if or (.HasShortcode "insight-canvas") (findRE "insight-canvas" .Content) -}}
  {{- with resources.Get "css/insight-canvas.css" -}}
    {{- $css := . | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
  {{- end -}}
  {{- with resources.Get "js/insight-canvas.js" -}}
    {{- $js := . | fingerprint -}}
    <script type="module" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{- end -}}
{{- end -}}
